/* Navbar */

.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
.bg-light{
    background-color: grey !important;
}
.navbar-brand img{
    width: 150px;
    margin-left: 400px;
    cursor:default ;
}
.navbar {
    min-width: 320px;
    max-width: 100%;
}
.link {
    color: white;
    padding: 0px;
    margin-right: 35px;

}
#atual{
    color: var(--black);
}
#atual:hover{
    color: var(--black);
    text-decoration: none; 
}
.link:hover{
    color: var(--black);
    text-decoration: none;
}
.navbar, .navbar-expand-lg, .bg-body-tertiary{
    padding: 0px;
    
}
.orcamento{
    margin-top: 10px;
    background-color: #47d7ac;
    color: white;
    border:none;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1em;
    font-size: 1rem;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.orcamento:hover{
    background-color: #3baa8b;
    color: #d1d5db;
}
.orcamento{
    display: flex;
    justify-content: flex-end;
}
.orcamento:focus{
    outline: 0;
}
/* Background do header */

.background{
    background-repeat:no-repeat ;
    background: fixed;
    background-image:url(../image/background\ sun.jpg);
    width: 100%;
    height: 967px;
}
.background h1, .background p{
    display: flex;
    justify-content: center;
    color: white;
}
h1 {
    font-size: 50px;
}

.slogan{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 350px;
}

/* Sobre */
.info{
    max-height: max-content;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 200px;
    max-width: max-content;
    gap: 20px;
}
.infoRP{
    min-width: 200px;
    max-width: 50%;
    width: 50%;
    display: grid;
    justify-content: start;
    text-align: center;
    border: solid 2px var(--black);
    border-radius: 16px;
    align-items: baseline;
}
.infoRP a{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.infoRP a:hover{
    text-decoration: none;
    cursor: default;
}
.infoRP button:hover{
    cursor: pointer;
}
.title{
    color: var(--blue);
    font-size: 35px;
    font-family: "Maven Pro", sans-serif;
}
.subtitle{
    color: var(--black);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
/* Ãrea de atendimento */

.loc strong{
    font-size: 35px;
    font-family: "Maven Pro", sans-serif;
}
.loc p strong{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.loc{
    margin-top: 50px;
    display: grid;
    justify-items: center;
    width: 100%;
    margin-bottom: 120px;
}
.area-p{
    width: 100%;
    text-align: center;
}
.loc > div{
    width: 40%;
    min-width: 320px;
    border: solid 2px var(--black);
    border-radius: 16px;
}



@media (max-width:320px){
    .info {
        gap: 5px;
        margin-left: 0px;
    }
}       