/* Texto */

.title{
    margin-top: 15px;
    color: var(--blue);
    font-size: 35px;
    font-family: "Maven Pro", sans-serif;
    margin-left: 15px;
}
.subtitle{
    color: var(--black);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    margin-left: 15px;
}

/* Navbar */
.dropdown:hover > .dropdown-menu{
    display: block;
}
.dropdown-menu{
    background-color: grey;
    width: 352.91px;
    height: 240.5;
}
.dropdown-item{
    color: white;
}
.item{
    padding: 0px;
}
.dropdown-item:hover{
    background-color: grey;
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
}
.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
.bg-light{
    background-color: grey !important;
}
.navbar {
    min-width: 320px;
    max-width: 100%;
}
.link {
    color: white;
    padding: 0px;
    margin-right: 35px;

}
#atual{
    color: #292626a4;
    font-size: 20px;
}
#atual:hover{
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
}
.link:hover{
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
}
.link-orc:hover{
    cursor: default;
    text-decoration: none;
}
.link-orc {
    max-width: max-content;
    border-radius: 50px;
}
.navbar-brand img{
    border-radius: 50px;
    width: 80px;
}
.orcamento{
    margin-top: 10px;
    background-color: #47d7ac;
    color: white;
    border:none;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1em;
    font-size: 1rem;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.orcamento:hover{
    cursor: pointer;
    background-color: #3baa8b;
    color: #d1d5db;
}
.orcamento{
    display: flex;
    justify-content: flex-end;
}
.orcamento:focus{
    outline: 0;
}
/* Background do header */

.background{
    background-repeat:no-repeat ;
    background: fixed;
    background-image:url(../image/background\ sun.jpg);
    width: 100%;
    height: 967px;
}
.background h1, .background p{
    display: flex;
    justify-content: center;
    color: white;
}
h1 {
    font-size: 50px;
}

.slogan{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 350px;
}

/* Sobre */
.info{
    margin-top: 25px;
    max-height: max-content;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 200px;
    max-width: max-content;
    gap: 20px;
}

.card .orcamento{
    margin-left: 50px;
}
.card .orcamento:hover{
    cursor: pointer;
}
.card a:hover{
    text-decoration: none;
    cursor: default;
}
.inforp{
    max-height: min-content;
}

/* Ãrea de atendimento */

.loc strong{
    font-size: 35px;
    font-family: "Maven Pro", sans-serif;
}
.loc p strong{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.loc{
    margin-top: 50px;
    display: grid;
    margin-left: 15px;
    margin-bottom: 120px;
}
.area-p{
    width: 100%;
    text-align: center;
}
.loc > div{
    width: 40%;
    min-width: 320px;
    border: solid 2px var(--black);
    border-radius: 16px;
}



@media (max-width: 1000px){
    .info {
        gap: 5px;
        margin-left: 41px;
       }
    .link-orc{
        margin-left: 5px;
    }
}