:root{
    --white: #eeeeee;
    --black: #222222;
    --gray: #444444;
    --shadow: rgba(0, 0, 0, 0.25);
    --font-title: 'serif';
    --font-size-default: 16px;
    --font-color-default: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Roboto" ,sans-serif;
    font-size: var(--font-size-default);
    background-color: #f0f5fa;
    color: var(--font-color-default);
}

a {
    color: var(--gray);
    text-decoration: none;
}
::selection{
    background-color: rgba(32, 192, 255, 0.25);
    color: #ffff;
}